<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATH" value="logs/"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss} [%thread] %-5p: %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>cnp-history.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/demo.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss} [%thread] %-5p: %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="example.demo" level="INFO"/>
    <logger name="example.demo" level="ERROR"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework" level="ERROR"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>